		<p>  </p>
	<!--
		<div id="footer" class="row text-left">
			<div class="col-md-4 exe">
					<ul>
						<li><h3 style="padding-bottom: 10px;"><strong>Quick Links</strong></h3></li>
						<a href="" ><li>About us</li></a>
						<a href=""><li>Our Services</li></a>
						<a href=""><li>Job Galary</li></a>
					</ul>
			</div>
			<div class="col-md-4 exe">
					<ul>
						<li><h3 style="padding-bottom: 30px;"><strong>Contact Us</strong></h3></li>
						<li><i class="fa fa-phone" aria-hidden="true"></i>1800 425 1199</li>
						<li><i class="fa fa-envelope-o" aria-hidden="true"></i>info@screwtech.com</li>
					</ul>
			</div>
			<div class="col-md-4 exe">
					<ul>
						<li><h3 style="padding-bottom: 10px;"><strong>Our Clients</strong></h4></li>
						<li>Asian Paints</li>
						<li>Forbs Marshall</li>
						<li>Thyssenkrupp</li>
						<li>Thermax</li>
					</ul>
			</div>
		</div>
	-->	
	</body>
</html>