<%- include ('../partials/header.ejs') %>
  <div class="container">
    <div class="row">
        <h1 style="text-align: center">Add Doctor !!</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/doctor/new/" method="POST">
				        <div class="form-group">
                  <label for="name">Doctor name: </label>
                  <input class="form-control" type="text" name="name" placeholder="name" id="name" required=true>
                </div>
				        <div class="form-group">
                  <label for="email">Email: </label>
                  <input class="form-control" type="text" name="email" placeholder="email ID" id="email" required=true>
                </div>
                <div class="form-group">
                  <label for="address">Address: </label>
                  <input class="form-control" type="text" name="address" placeholder="address" id="address" required=true>
                </div>
                <div class="form-group">
                  <label for="degree">Specialization: </label>
                  <input class="form-control" type="text" name="degree" placeholder="degree" id="degree" required=true>
                </div>
                <div class="form-group">
                  <label for="contact number">Phone: </label>
                  <input class="form-control" type="number" name="phone" placeholder="Contact No" id="contact number" required=true>
                </div>
                <div class="form-group">
                  <label for="remark">Remark: </label>
                  <input class="form-control" type="text" name="remark" placeholder="remark" id="remark" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/admin">Go Back</a>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>